@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: mau01;
  src: url(../font/SF-Pro-Rounded-Thin.otf);
}
@font-face {
  font-family: mau02;
  src: url(../font/CallingFont.otf);
}
.mang01
{width: 100%;height: 140px;justify-content: center;display: flex;}
.mang01_item
{width: 25%;height: 40px;text-align: center;padding: 40px 0px 0px 0px;font-family: mau02;}


.mang02
{width: 100%;height: 57px;justify-content: center;display: flex;}


.mang03
{width: 100%;height: 909px;}
.mang03_item
{width: 100%;height: 682.4px;position: relative;}
.mang03_item01
{width: 15%;height: 33px;position:absolute;top: 700px;left: 20%;text-align: center;border: outset;padding: 5px 0px 0px 0px;font-family: mau01;}
.mang03_item02
{width: 15%;height: 33px;position:absolute;top: 700px;left: 75%;text-align: center;border: outset;padding: 5px 0px 0px 0px;font-family: mau01;}


.mang04
{width: 100%;height: 450px;}
.mang04_item
{width: 100%;height: 190.5px;text-align: center;padding: 10px 0px 0px 0px;font-family: mau02;}
.mang04_item00
{width: 100%;height: 190.5px;text-align: center;font-family: mau01;}
.mang04_item01
{width: 100%;height: 250px;justify-content: center;display: flex;}
.mang04_item02
{width: 12.5%;height: 190px;background-color:#D4D1D1;float: left;margin: 0px 5px 0px 5px;text-align: center;border-radius: 0px 0px 20px 20px;font-family: mau01;}


.mang05
{width: 100%;height: 680px;}
.mang05_item
{width: 100%;height: 170px;background-color: #D4D1D1;text-align: center;padding: 30px 0px 0px 0px;font-family: mau02;}
.mang05_item00
{width: 100%;height: 50px;text-align: center;font-family: mau01;}
.mang05_item01
{width: 100%;height: 480px;background-color:#D4D1D1;justify-content: center;display: flex;}
.mang05_item02
{width: 15%;height: 380px;background-color:#C3C3C3;margin: 0px 5px 0px 5px;float: left;text-align: center;border-radius: 0px 0px 20px 20px;font-family: mau01;}
.mang05_item02 button
{font-family: mau01;}



.mang06
{width: 100%;height: 889.4px;position: relative;}
.mang06_item
{width: 100%;height: 300px;position: absolute;top: 294.7px;text-align: center;font-family: mau02;}
.mang06_item00
{width: 100%;height: 300px;position: absolute;top: 294.7px;text-align: center;}


.mang07
{width: 100%;height: 130px;}
.mang07_item
{width: 25%;height: 130px;float: left;font-family: mau01;}
.mang07_item01
{width: 20%;height: 130px;float: right;}


ul
{list-style: none;height: 50px;padding: 0px 0px 0px 0px;font-family: mau01;}
ul li
{width: 100px;height: 40px;float: left;;margin:0px 20px 0px 20px;text-align: center;padding: 0px 20px 0px 20px;position: relative;}
ul li:hover
{background-color:#FFFFFF;height: 40px;}
ul li a
{text-decoration: none;}
ul li ul
{position: absolute;left: -20px;top: 40px;visibility: hidden;}
ul li:hover ul
{visibility:visible;}
a
{text-decoration: none;}
button
{width: 90%;height: 40px;border-color:#D4D1D1;border-radius: 20px;border: 0px;margin: 20px 0px 0px 0px;}
.mang06_item button
{width: 13%;height: 50px;border-color:#D4D1D1;border-radius: 30px;border: 0px;margin: 50px 0px 0px 0px;}
.mang06_item button
{transition: all 0.5s;}
.mang06_item:hover button
{opacity: 0.7;}


@media (max-width : 1326px ){
}
.mang05_item02 img
{transition: all 0.5s;}
.mang05_item02:hover img
{opacity: 0.2;}
.mang04_item02 img
{transition: all 0.5s;}
.mang04_item02:hover img
{opacity: 0.2;}


.headera
{width: 100%;height: 70px;text-align: center;padding: 10px 0px 10px 0px;font-family: mau02;}
.manga01
{width: 100%;height: 6000px;justify-content: center;display: flex;}
.manga01_item
{width: 32%;height: 3750px;float: left;margin: 20px 10px 0px 10px;}
.manga01_item img
{float: left; margin: 0.5%;}